@import '_common';

/*header*/
header{
  width:100%;
  height:0.46rem;
  background:#e4e2eb;
  background:rgba(226,236,223,0.5);
  z-index:3;
  .header_two{
    height:0.46rem;
    width:100%;
    display: -webkit-flex;
    -webkit-justify-content: center; 
    background:rgba(0,0,0,0);
    .l{
      width:0.81rem;
      height:0.46rem;
      span{
        width:100%;
        height:0.3rem;
        display:-webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        .l_a{
          font-size:12px;
          width:0.5rem;
          height:0.3rem;
          color:#62626f;
          line-height:0.3rem;
          //margin-top:0.1rem;
          text-align:center;  
          font-weight:700;          
        }
        .icon-sousuo{
          color:#62626f;
          margin-top:0.3rem;
        }
      }  
    }
    .c{
      -webkit-flex:1;
      display: -webkit-flex;
      justify-content: center;
      align-items:center;
      p{
        color:#000000;
        font-size:16px;
        //font-weight:700;
      }
    }
    .r{
      margin-left: 0.15rem;
      width:0.81rem;
      height:0.46rem;
      display:-webkit-flex;
      -webkit-flex-wrap:nowrap;
      -webkit-justify-content: space-around;
      -webkit-align-items: center;
    
      .same{
        height:0.46rem;
        width:50%;
        color:#62626f;
        font-size:7px;
        //font-weight:700;
        //display:inline-block;
        padding-top:2rem;
        box-sizing:border-box;
      }
      .server{
        height:0.46rem;
        width:50%;
        position:relative;
        .s_server{
          height:0.46rem;
          .icon-kefu{
            position:absolute;
            top:0rem;
            left:0rem;
            bottom:0.01rem;
            color:#62626f;
            font-size:26px;
          }
          em{
            position: absolute;
            top: 0.3rem;
            left:0.02rem;
            bottom:0.03rem;
            font-style:normal;
          }   
        }
      }
      .more{
        height:0.46rem;
        width:50%;
        position:relative;
        .icon-gengduoxinxi{
          position:absolute;
          top:0rem;
          left:0rem;
          bottom:0.01rem;
          color:#62626f;
          font-size:26px;
        }
        em{
          position: absolute;
          top: 0.3rem;
          left:0.03rem;
          font-style:normal;
        }  
      }
    }
  }
}

/*content*/
.content{
  width: 100%;
  -webkit-flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  .load{
    position:relative;
    width: 100%;
    height:1.13rem;
    background:white url(../images/card_1.jpg) center center;
    background-size:3.75rem;
    a{
      display:block;
      position:absolute;
      width:0.4rem;
      height:0.2rem;
    }
    .load_refund{
      left:0.2rem;
      top:0.28rem;

    }
    .load_bill{
      right:0.2rem;
      top:0.28rem;
    }
    .load_card{
      left:0.3rem;
      top:0.7rem;
    }
    .load_loan{
      right:0.28rem;
      top:0.7rem;
    }
    .load_load{
      width:1.4rem;
      height:0.4rem;
      left:1.1rem;
      top:0.6rem;
    }
  }
  .section_one{
    width: 100%;
    //height:1.6rem;
    display: -webkit-flex;
    flex-wrap: wrap;
    background: white;
    //margin-bottom:0.2rem;
    margin-top:0.15rem;
    a{
      display:block;
      width: 20%;
      height: 0.8rem;
      text-align: center;
      box-sizing: border-box;
      display: -webkit-flex;
      -webkit-flex-direction: column;
      -webkit-justify-content: flex-start;
      -webkit-align-items: center;
      img{
        width: 0.38rem;
        height: 0.34rem;
        margin:0.18rem auto 0.07rem; 
      }
      .span2{
        display:inline-block;
        color: #343434;
        font-size: 12px;
        width:0.6rem;
        height:0.3rem;
        padding-left:0.01rem;
        padding-bottom:0rem;
        box-sizing:border-box;
      }
    }
  }
  .apply{
    margin-top:0.15rem;
    position:relative;
    width: 100%;
    height:1.155rem;
    background:white url(../images/card_12.jpg) center center;
    background-size:3.75rem;
    .apply_for{
      position:absolute;
      width:0.9rem;
      height:0.25rem;
      left:1.35rem;
      top: 0.85em;
    }
  }
  .discounts{
    margin-top:0.1rem;
    height:3.34rem;
    width:100%;
    background:white;
    h1{
      height:0.43rem;
      width:100%;
      font-size:16px;
      font-weight:normal;
      color:#222222;
      text-align:center;
      line-height:0.43rem;
      padding-top:0.06rem;
      box-sizing:border-box;
    }
    a{
      height:1.56rem;
      width:100%;
      img{
        width:100%;
      }
    }
    .prensent{
      height:1.35rem;
      width:100%;
      overflow: hidden;
      display:-webkit-flex;
      a{
        width:33.33333%;
        height:1.35rem;
        display:-webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        .prensent_span{
          display:inline-block;
          width:100%;
          height:0.6rem;
          font-size:14px;
          text-align:center;
          display:-webkit-flex;
          -webkit-flex-direction: column;
          -webkit-justify-content: center;
          -webkit-align-items: center;
          i{
            font-size:18px;
            font-style:normal;
          }
          em:first-child{
            font-size:14px;
            color:#222222;
            font-style:normal;
            font-weight:700;
          }
          em:last-child{
            font-size:12px;
            color:#6b6b76;
            font-style:normal;
            i{
              font-size:18px;
              font-style:normal;
            }
          }
        }
        img{
          width:0.64rem;
          height:0.655rem;
          display:inline-block;
        }
      }   
    }
  }
  .moneymatters{
    margin-top:0.1rem;
    height:2.8rem;
    width:100%;
    background:white;
    .local{
      height:0.43rem;
      width:100%;
      font-size:16px;
      font-weight:normal;
      color:#222222;
      text-align:center;
      line-height:0.43rem;
      padding-top:0.06rem;
      box-sizing:border-box;
      
    }
    .last{
      a{
        .icon-youjiantou{
          height:0.2rem;
          width:05rem;
        }
      }
    }
    .matters{
      width:100%;
      height:1.9rem;
      background:white;
      .matters_a{
        display:block;
        height:0.95rem;
        width:100%;
        display:-webkit-flex;
        // -webkit-flex-direction: column;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        background:url(../images/card_26.jpg) no-repeat 0.1rem 0rem;
        background-size:0.27rem;
        border-bottom:1px solid #e0e6e9;
        span{
          display:inline-block;
          width:50%;
          height:0.85rem;
          display:-webkit-flex;
          -webkit-flex-direction: column;
          -webkit-justify-content:center ;
          -webkit-align-items:flex-start ;
        }
        .l{
          text-indent:0.4rem;
          .l_em{
            font-style:normal;
          }
          .em1{
              font-size:16px;
              color:#202020;
              i{
                font-size:20px; 
                font-style:normal;
              }
          }
          .em2{
             font-size:28px;
             color:#f75d5d;
          }
          .em3{
            font-size:10px;
            color:#c7c9d3;
            i{
              font-size:16px; 
            }
          }
        }
        .r{
          position:relative;
          .r_em{
            .r_em1{
        
            }
            #r_em4{
              position:absolute;
              width:0.6rem;
              height:03rem;
              left:0.2rem;
              top:0.3rem;
            }
            #r_em3{
              width:0.67rem; 
              position:absolute;
              right:0rem;
              top:0.1rem;
            }
            #r_em1{
              position:absolute;
              left:0.2rem;
              top:0.6rem;
              font-style:normal;
              font-size:20px;
              color:#9d9ea6;
            }
            #r_em2{
              position:absolute;
              left:0.5rem;
              top:0.58rem;
              font-style:normal;
              font-size:10px;
              color:#9d9ea6;
            }
            .r_em2{
              font-size:16px; 
              color:#9d9ea6;
              i{
                font-size:16px; 
              }
            }
          }
        }
      }
    }
  }
  .save{
    height:2rem;
    .save_matters{
      width:100%;
      height:1rem;
      display:-webkit-flex;
      a{
        height:1rem;
        width:33.3333%;
        display:-webkit-flex;
        -webkit-flex-direction: column;
        -webkit-justify-content:center ;
        -webkit-align-items:center ;
        .span1{
          height:0.45rem;
          font-size:16px;
          color:#202020;
          em{
            font-style:normal;
          }
        }
        .span2{
          height:0.25rem;
          font-size:12px;
          color:#60606e;
          em{
            font-size:28px;
            font-weight:700;
            font-style:normal;
            color:#0ac8ba;
          }  
        }
        .span3{
          height:0.3rem;
          font-size:16px;
          color:#22cec0;
          em{
            font-style:normal;
            font-size:32px;
            font-weight:700;
            font-style:normal;
            color:#0ac8ba;
          }
        }
      }
    }
  }
}

/*footer*/
footer{
    position:relative;
    width:100%;
      height:0.5rem;
      border-top:1px solid #cfcdcb;
      display: -webkit-flex;
      -webkit-justify-content: space-around;
      -webkit-align-items: center;
      background: white;
      background-size:3.75rem 0.01rem;
      text-align:center;
    .circle{
      position:absolute;
      background: white;
      top:-0.15rem;
      left:1.6rem;
      width:0.4rem;
      height:0.4rem;
      border-radius: 50%;
      border:1px solid #cfcdcb;
    }
    .special{
      position:absolute;
      display:block;
      background: white;
      bottom:0rem;
      left:1.5rem;
      width:0.6rem;
    }
    a{
      -webkit-flex: 1;
      color: #939393;
      text-align: center;
      .iconfont{
        font-size: 30px;
      }
      span{
        font-size: 10px;
        display:block; 
      }
      &:hover i{
        color: #00aaee;
      } 
    }
  }


