@import '_common';
/*header*/
header{
  width:100%;
  height:auto;
  background:rgba(226,236,223,0.5);
  background:white;
  z-index:3;
  .header_two{
    height:0.46rem;
    width:100%;
    display: -webkit-flex;
    justify-content: center; 
    background:rgba(0,0,0,0);
    border-bottom:1px solid #b2b2b2;
    .l{
      width:0.81rem;
      height:0.46rem;
      display: -webkit-flex;
      justify-content: center;
      align-items:center;
      .l_a{
        font-size:16px;
        width:0.5rem;
        height:0.3rem;
        color:#51515e;
        line-height:0.3rem;
        margin-top:0.10rem;
        text-align:center;  
        font-weight:700;          
      }
      .icon-04{
        color:#565663;
      }
    }
    .c{
      -webkit-flex:1;
      display: -webkit-flex;
      justify-content: center;
      align-items:center;
      .form_search{
        position:relative;
        width:100%;
        height:0.27rem;
        .icon-sousuo{
          position:absolute;
          top:0.065rem;
          left:0.1rem;
          color:#565663;
        }
        .icon-huatong{
          position:absolute;
          top:0.065rem;
          right:0.1rem;
          color:#565663;
        }
        .heard_input{
          display: -webkit-flex;
          justify-content: center;
          align-items:center;
          display:block;
          width:100%;
          height:0.27rem;
          border-radius: 0.08rem;
          outline: none;
          text-align:center;
          background:#ecebf1;
          box-sizing:border-box;
          border:none;
          color:white;
        }
        input::-webkit-input-placeholder{
          color:#51515e;
        }
      }
    }
    .r{
      margin-left: 0.15rem;
      width:0.81rem;
      height:0.46rem;
      display:-webkit-flex;
      -webkit-flex-wrap:nowrap;
      -webkit-justify-content: space-around;
      -webkit-align-items: center;
      .same{
        height:0.46rem;
        width:50%;
        color:#565663;
        font-size:7px;
        font-weight:700;
        //display:inline-block;
        padding-top:2rem;
        box-sizing:border-box;
      }
      .server{
        height:0.46rem;
        width:50%;
        position:relative;
        .s_server{
          height:0.46rem;
          .icon-kefu{
            position:absolute;
            top:0rem;
            left:0rem;
            color:#565663;
            font-size:28px;
          }
          em{
            position: absolute;
            top: 0.3rem;
            left:0.02rem;
            font-style:normal;
          }   
        }
      }
      .more{
        height:0.46rem;
        width:50%;
        position:relative;
        .icon-gengduoxinxi{
          position:absolute;
          top:0rem;
          left:0rem;
          color:#565663;
          font-size:28px;
        }
        em{
          position: absolute;
          top: 0.3rem;
          left:0.02rem;
          font-style:normal;
        }  
      }
    }
  }
  #menu{
    display:-webkit-flex;
    overflow-x: scroll;  
    // position:absolute;
    // top:0.45rem;
    background:white;
    li{
      width:0.75rem;
      height:0.4rem;
      line-height:0.4rem;
      font-size:16px;
      color:#202020;
      text-align:center;
      border-bottom:1px solid #d9d9d9;
      box-sizing: border-box;
      padding: 0.04rem 0;
      span{
        display:block;
        width:0.75rem;
        color:#202020;
      }
    }
    .activeLi{
      border-bottom:2px solid #2c99ff;
      box-sizing: border-box;
      background: rgba(255,255,255,1);
      color:#2c99ff;
   }
  }
}

/*content*/
.content{
  -webkit-flex: 1;
  overflow-x: hidden;
  //overflow-y: scroll;
  background:white;
  #tab{
    width:100%;
    .panel{
      display:none;
      display:block;
      clear:both;
      width:3.75rem;
      //overflow: hidden;
      overflow-y:scall;
      .notice{
        width:100%;
        height:0.5rem;
        background:white;
        a{
          color:block;
          font-size:14px;
          font-weight:700;
          padding-top:0.07rem;
          text-indent:0.1rem;
          box-sizing:border-box;
          text-indent:0.4rem;
          background:url(../images/a_4.jpg) no-repeat 0.1rem 0.05rem;
          background-size:0.25rem;
        }
        p{
          height:0.2rem;
          line-height:0.2rem;
          margin-top:0rem;
          text-indent:0.1rem;
          font-size:12px;
          color:#a8a8a8;
          span{
            font-size:18px;
          }
        }
      }
      .section{
        width:100%;
        margin-top:0.1rem;
        background:white;
      }
    }
  }
  .margin{
    margin-top:0.1rem;
  }
  .choice{
    width:94%;
    margin:0 auto;
    height:1.04rem;
    display:-webkit-flex;
    background:white;
    border-bottom:1px solid #dddddd;
    .l{
      display:block;
      font-size:16px;
      width:60%;
      display: -webkit-flex;
      -webkit-flex-direction:column;
      -webkit-justify-content: center;
      -webkit-align-items:center;
      span{
        display:inline-block;
        width:100%;
        text-indent:0.05rem;
        box-sizing:border-box;
        em{ 
          font-style:normal;
          font-size:22px;
        }
      }
      .span1{
        margin-top:0.08rem;
        height:0.5rem;
        font-weight:700;
        em{
          top:0.015rem;
          i{
            font-style:normal;
            font-size:28px;
          }
        } 
        .em1{
      
        }
        .em2{
       
        }
        .em3{
        
          font-size:28px;
        }
        .em4{
          font-size:26px;
        }
      }
      .span2{
        height:0.3rem;
        -webkit-align-self:flex-end;
        margin-top: 0.1rem;
       em{
        
         font-style:normal;
         font-size:14px;
       
         i{
          font-style:normal;
          font-size:26px;
         }
        }
        .em5{
          color:#ff5757;
          border:1px solid #ff5757;
          width:0.38rem;
          font-size:8px;
          text-align:center;
          border-radius:0.05rem;
          display: inline-block;
          padding-top:0.01rem;
          padding-right:0.04rem;
          box-sizing:border-box;
        }
        .em6{
          color:#a7a7a7;
        }
        .em7{
          color:#a7a7a7;
        }
      }
    }
    .r{
      display:inline-block;
      width:40%;
     
      img{
        width:1.15rem;
        display:block;
        margin-top: 0.1rem;
        margin-left: 0.25rem;
        
      }
    }
  }
  .bird{
    width:94%;
    margin:0 auto;
    background:white;
    border-bottom:1px solid #dddddd;
    //background:white;
    a{
      width:100%;
      display:-webkit-flex;
      -webkit-flex-direction:column;
      -webkit-justify-content:center;
      -webkit-align-items:flex-start;
      box-sizing:border-box;
      .b_span1{
        display:inline-block;
        height:0.625rem;
        font-size:16px;
        color:#a7a7a7;
        padding-top:0.08rem;
        box-sizing:border-box;
        em{
          font-style:normal;
          font-size:30px;
          line-height: 0rem;
        }
      }
      .b_img{
        display:inline-block;
        width: 100%;
      }
      .b_span2{
        height:0.3rem;
        display:-webkit-flex;
       -webkit-align-self:flex-start;
       em{
         font-style:normal;
         font-size:16px;
         line-height:0.3rem;
         display:inline-block;
         margin:0 0.02rem;
         i{
          font-style:normal;
          font-size:28px;
         }
        }
      }
      .em5{
        color:#ff5757;
        border:1px solid #ff5757;
        width:0.38rem;
        text-align:center;
        border-radius:0.05rem;
        display: inline-block;
        padding-top:0.01rem;
        padding-right:0.04rem;
        box-sizing:border-box;
      }
      .em6{
        color:#9f9f9f;
        padding-top: 0.02rem;
      }
      .em7{
        color:#9f9f9f;
      }
    } 
  }
  .show{
    color:#282828;
    a{
      .b_span1{
        color:#202020;
       height:0.5rem;
      }
    }
  }
  .click{
    width:100%;
    a{
      width:100%;
      height:0.5rem;
      background:#f2f3f4;
      font-size:12px;
      color:#139beb;
      text-align:center;
      line-height:0.5rem;
    }
  }
}
footer{
  position:relative;
  width:100%;
	height:0.5rem;
	border-top:1px solid #cfcdcb;
	display: -webkit-flex;
	-webkit-justify-content: space-around;
  -webkit-align-items: center;
  background: white;
	background-size:3.75rem 0.01rem;
  text-align:center;
  .circle{
    position:absolute;
    background: white;
    top:-0.15rem;
    left:1.6rem;
    width:0.4rem;
    height:0.4rem;
    border-radius: 50%;
    border:1px solid #cfcdcb;
  }
  .special{
    position:absolute;
    display:block;
    background: white;
    bottom:0rem;
    left:1.5rem;
    width:0.6rem;
  }
  a{
    -webkit-flex: 1;
    color: #939393;
    text-align: center;
    .iconfont{
      font-size: 30px;
    }
    span{
      font-size: 10px;
      display:block; 
    }
    &:hover i{
      color: #00aaee;
    } 
  }
}

/*footer*/

